html
{
    height: 100%;
}

body
{
    margin: 0;
    background: #F1EFE2;
    font-size: 1.6em;
    font-family: "Segoe UI" , georgia, "trebuchet ms" , arial, serif;
    box-sizing: border-box;
    height: 100%;
}

